body{
  background-color: beige;
}
.App {
  text-align: center;
}

.links {
  padding: 2rem;
}

.navbar{
  display: flex;
  justify-content: space-around;
}

.post{
  border: 2px solid brown;
  padding: 1.1rem;
  margin: 1.1rem;
}

.blog{
  display: flex;
  justify-content: space-evenly;
}